:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #333333;
  background-color: #e9e9e9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #2563eb;
  text-decoration: inherit;
}

a:hover {
  color: #1d4ed8;
}

.selecionado {
  color: #fafafa;
  scale: 1.2;
  background-color: #1d4ed8;
  padding: 5px 10px 10px;
  border-radius: 10px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header {
  background-color: #ffffff;
  padding: 0.5rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e5e7eb;
}

.header-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;

}

.logo:hover {
  cursor: pointer;
}

.logo img {
  height: 120px;
  width: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

nav a {
  color: #213547;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 500;
}

nav a:hover {
  color: #2563eb;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  & p {
    margin: auto;
    width: 762px;
    text-align: center;
    display: flex;
  }

}

.conteudo {
  width: 762px;
  margin: 25px auto;
  display: flex;
  justify-content: initial;
  align-items: center;

  #atracao {
    letter-spacing: 1px;
    color: #E1624F;
  }

  img {
    max-width: 762px;
    border-radius: 16px;
  }

  p {
    max-width: 762px;
    text-align: justify;
    font-size: 13px;
  }

  #prefeito {
    letter-spacing: 1px;
    color: #E1624F;
    margin-top: 45px;
  }

  #ultimas {
    color: #2563eb;
    font-size: 20px;
    letter-spacing: 0.5px;
    margin-top: 75px;
    display: flex;
    justify-content: center;
  }

}

.mobile {
  display: none;
}

.nutrimax {
  background-color: #1d4ed8;
  max-width: 762px;
  height: 150px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: initial;
  padding: 20px;
  border-radius: 20px;

  .mobile {
    display: none;
  }

  #ntrtit {
    display: flex;
    flex-direction: column;

    #published {
      color: #8d8d8d;
    }
  }

  h3 {
    color: white;
    display: flex;
    margin-top: 0;
    margin-left: 170px;
    align-items: top;
    font-size: 15px;

  }

  p {
    font-size: 12px;
    margin-top: 0;
    margin-left: 170px;
    color: rgb(223, 223, 223);
  }

  img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    position: absolute;
  }
}

.brk {
  background-color: #1d4ed8;
  max-width: 762px;
  height: 150px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: initial;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;

  .mobile {
    display: none;
  }

  #brktit {
    display: flex;
    flex-direction: column;

    #published {
      color: #8d8d8d;
    }
  }

  h3 {
    color: white;
    display: flex;
    margin-top: 0;
    margin-left: 170px;
    align-items: top;
    font-size: 15px;

  }

  p {
    font-size: 12px;
    margin-top: 0;
    margin-left: 170px;
    color: rgb(223, 223, 223);
  }

  img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    position: absolute;
  }

}

.oft {
  background-color: #1d4ed8;
  max-width: 762px;
  height: 150px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: initial;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;

  .mobile {
    display: none;
  }



  #ofttit {
    display: flex;
    flex-direction: column;

    #published {
      color: #8d8d8d;
    }
  }


  h3 {
    color: white;
    display: flex;
    margin-top: 0;
    margin-left: 170px;
    align-items: top;
    font-size: 15px;

  }

  p {
    font-size: 12px;
    margin-top: 0;
    margin-left: 170px;
    color: rgb(223, 223, 223);
  }

  img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    position: absolute;
  }

}

#linha1 {
  margin-top: 5px;
  width: 762px;
  border-bottom: 1px solid #c4c4c4;
}


#linha2 {
  margin: 5px auto;
  width: 762px;
  border-bottom: 1px solid #c4c4c4;
}

footer {
  
}


@media (max-width: 80rem) {

  .header-container {
    justify-content: center;
  }

  nav {
    display: none;
  }

  main {

    p {
      max-width: 275px;
    }

  }

  #atracao {
    margin-left: 105px;
  }

  #estatua {
    margin-left: 70px;
  }

  p {
    margin-left: 12px;
    width: 335px
  }

  .imgcell {
    margin-left: 45px;
    width: 275px;
    height: 200px;
  }

  #linha1 {

    width: 375px;
  }

  #prefeito {
    margin-left: 150px;
  }

  #julinho {
    margin-left: 30px;
  }

  #ultimas {
    display: flex;
    justify-content: center;

  }

  .oft {
    margin: auto;
    max-width: 200px;
    height: 420px;
    justify-content: center;

    img {
      width: 200px;
    }

    h3 {
      width: 200px;
      height: 300px;
      display: flex;
      position: relative;
      margin-top: 160px;
      margin-left: 30px;
    }

    p {
      width: 200px;
      margin-left: 15px;
    }

    #published {
      margin-left: 23px;
    }
  }


  .brk {
    margin: 20px auto;
    max-width: 200px;
    height: 420px;
    justify-content: center;

    img {
      width: 200px;
    }

    h3 {
      width: 200px;
      height: 300px;
      display: flex;
      position: relative;
      margin-top: 160px;
      margin-left: 30px;
    }

    p {
      width: 200px;
      margin-left: 15px;
    }

    #published {
      margin-left: 23px;
    }
  }

  .nutrimax {
    margin: 20px auto;
    max-width: 200px;
    height: 420px;
    justify-content: center;

    img {
      width: 200px;
    }

    h3 {
      width: 200px;
      height: 300px;
      display: flex;
      position: relative;
      margin-top: 160px;
      margin-left: 30px;
    }

    p {
      width: 200px;
      margin-left: 15px;
    }

    #published {
      margin-left: 23px;
    }
  }

  .conteudo {
    display: flex;
    justify-content: center;
  }
}